.detail-wrap{
    width: 100%;
    border:solid 1px rgb(204, 204, 204);
}
.detail-wrap .ant-list .ant-comment{
    padding: 0 20px;   
}
.detail-wrap .ant-list .ant-comment img{
    max-width: 100%;
    vertical-align: bottom;
}
.detail-wrap .ant-list .ant-comment-inner{
    border-bottom: 1px solid rgb(232, 232, 232);
}
.detail-wrap .ant-list .ant-comment-actions{
    position: absolute;
    top:-2px;
    right: 20px;
    margin: 0;
}
.detail-wrap img{
    max-width: 100%;
}
@media screen and (max-width:446px){
    .detail-wrap .ant-list .ant-comment-actions{
        position: relative;
        float: right;
        margin-top: 5px;
    }
}