.wrap{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrap .logo{
    color: #fff;
    text-align: center;
}

.wrap .header-wrap{
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.wrap .md-nav-wrap{
    height: 100%;
}

.wrap .md-nav{
    display: inline-block;
    position: relative;
    padding-left: 30px;
    height: 100%;
}

.wrap .md-nav::before{
    content: "";
    width: 1px;
    height: 70%;
    background-color: #fff;
    position: absolute;
    left: 0px;
    top:10px;
}

.wrap .md-nav a{
    display: block;
    min-width: 90px;
    float: left;
    padding: 0 25px 0 20px;
    text-align: center;
    color: #fff;
    position: relative;
}
.wrap .md-nav a:link{
    text-decoration: none;
}

.wrap .md-nav a.nav-active{
    color: rgb(75, 157, 235);
}
.wrap .md-nav a.nav-active::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgb(75, 157, 235);
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-wrap .dropdown-wrap{
    position: absolute;
    right: -30px;
    top:0;
    height: 100%;
    width: 55px;
}
.dropdown-wrap .drop-menu{
    width: 100%;
    height: 100%;
}
.dropdown-wrap span{
    display: inline-block;
    width: 55px;
    height: 40px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    margin: 12px 0px;
    cursor: pointer;
}
.dropdown-wrap span::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #666;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    border-radius: 2px;
}
.dropdown-wrap span::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #666;
    left: 50%;
    top: 27%;
    transform: translateX(-50%);
    border-radius: 2px;
}
.dropdown-wrap span i{
    width: 30px;
    height: 2px;
    background-color: #666;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateX(-50%);
    border-radius: 2px;
}
.dropdown-wrap span.active::after{
    background: rgb(75, 157, 235);
}
.dropdown-wrap span.active::before{
    background: rgb(75, 157, 235);
}
.dropdown-wrap span.active i{
    background: rgb(75, 157, 235);
}
.dropdown-wrap span:hover::after{
    background: rgb(75, 157, 235);
}
.dropdown-wrap span:hover::before{
    background: rgb(75, 157, 235);
}
.dropdown-wrap span:hover i{
    background: rgb(75, 157, 235);
}

.dropdown-wrap .xsNav{
    position: absolute;
    top:54px;
    width: 120px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 10px -2px rgba(93, 89, 89, 0.637);
    overflow: hidden;
    transition: max-height .5s linear,opacity .3s;
    z-index: 10;
}
.dropdown-wrap .xsNav a{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
    color: #000;
}
.xsNav.show{
    opacity: 1;
    max-height: 300px;
}
.xsNav.hide{
    opacity: 0;
    max-height: 0px;
}

.menu-left .xsNav{
    left: 0;
}
.menu-right .xsNav{
    right: 0px;
}

.wrap .top-content{
    display: flex;
    flex-direction: column;
}
.wrap .content-wrap{
    width: 980px;
    flex:auto;
    margin: 0 auto;
    display: flex;
}
.wrap .content-wrap .ant-list-header{
    background-color: rgb(250, 250, 250);
    border-top: 1px solid rgb(232, 232, 232);
    border-bottom: 1px solid rgb(232, 232, 232);
    color: #000;
    font-weight: 600;
}

@media screen and (max-width:1000px){
    .wrap .content-wrap{
        width: 100%;
    }
}

.wrap .footer-wrap{
    font-size: 14px;
    text-align: center;
    background-color: rgb(240, 242, 245);
}