.book-wrap{
    width: 100%;
    border:solid 1px rgb(204, 204, 204);
}
.book-wrap .ant-card-bordered{
    border-bottom:none;
}
.book-wrap .ant-spin-container,.ant-list-header{
    padding-left: 20px;
    padding-right: 20px;
}